<div class="flex-container">
<div class="row">
    <div class="col-md-12">
        <div class="error-template flex-item">
            <h1>
                Oops!</h1>
            <h2>
                404 Page Not Found.</h2>
            <div class="error-details">
                Sorry, an error has occured, Requested page not found!
            </div>
            <div class="error-actions">
                <a routerLink="" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-home"></span>
                    <fa-icon [icon]="faAngleDoubleLeft" class="fa-fw"> </fa-icon>  Take Me Home</a>
            </div>
        </div>
    </div>
  </div>
</div>