
  body {
      font-size: 20px;
      color: black;
      /* margin: 20px; */
      background-size:cover; width:auto;
      height: fit-content;
      background-image:url('src\assets\beibehang-Stereo-Retro-Concrete-Wall-Wallcovering-Cafe-Milk-Tea-Shop-Leisure-Bar-Industrial-Wind-Decorative-Background.jpg');
      background-position:100% 50%;
  }
  input{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  img {
    width: 90px;
    height: 100px;
  }
  
  p {
    margin-bottom: 0;
  }
